.header {
	background-color: rgb(243, 146, 18);
	color: rgb(0, 255, 242);
	padding: 20px 0;
	font-size: 1.2rem;
	font-weight: bold;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 1000px;
	background: radial-gradient(40% 50%, #dda60d, #2fe2ca);
	background-size: 100%;
}

.footer {
	background-color: rgb(243, 146, 18);
	color: rgb(0, 255, 242);
	padding: 20px;
	text-align: center;
	flex-shrink: 0;
	
}

.text-align {
	text-align: center;
}

.container {
	max-width: 75%;
	margin: 0 auto;
}

main {
	text-align: center;
	flex-grow: 1;
}

.fio {
	margin-top: 100px;
	margin-bottom: 10px;
}

fieldset {
	text-align: center;
	margin: 10px 10px 10px 10px;
	border: none;
}

legend {
	display: inline-block;
}

textarea {
 	margin-bottom: 10px;
 	resize: none;
}

.options {
	margin-bottom: 10px;
}

.msg {
	vertical-align: top;
}

.agreement {
	margin-bottom: 10px;
}

.attach {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.login {
	margin-top: 300px;
	margin-bottom: 10px;
}

.remember {
	margin-top: 10px;
}

.logbtn {
	margin-top: 10px;
}
